<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/styles.css">

<div class='container'>
  <h1><%= @headers[0] %></h1>

  <h3><%= @headers[1] %></h3>

  <p><%= @paragraphs[0] %></p>

  <p><%= @paragraphs[1] %></p>

  <h3><%= @headers[2] %></h3>

  <p><%= @paragraphs[2] %></p>

  <h3><%= @headers[3] %></h3>

  <p><%= @paragraphs[3] %></p>
</div>